.sirvices {
    display: flex;
    gap: 2rem;
    padding-top: 70px;
    /* margin-bottom: -10rem; */
    height: 42rem;
}
.s-left {
    flex: 5;
    position: relative;
    z-index: 1;
}
.s-left a {
    display: inline-block;
    margin-top: 30px;
}
.s-right {
    flex: 8;
    position: relative;
    height: 100%;
    z-index: 1;
}
.s-left h1 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    line-height: 2.2rem;
}
.s-left h1 span {
    color: var(--orange);
}
@media screen and (max-width: 480px) {
    .sirvices {
        flex-direction: column;
        margin-bottom: 10rem;
        align-items: center;
    }
    .s-right {
        display: none;
    }
}
